<div class="col-xs-10 centered">
  <div class="thumbnail" class="md-toolbar-tools search-bar" layout layout-align="center">
    <div class="media" >  
      <div class="media-left" >
        <img alt="{{$ctrl.serieObj.Title}}" src="{{$ctrl.serieObj.Poster}}"></img>
      </div>
      <div class="media-body">
        <h2 class="media-heading">{{$ctrl.serieObj.Title}}</h2>
          <br>
          <p><b>Lançamento: </b>{{$ctrl.serieObj.Released}}&emsp;&emsp;<b>Período: </b>{{$ctrl.serieObj.Year}}&emsp;&emsp;<b>Nº Temporadas: </b>{{$ctrl.serieObj.totalSeasons}}</p>
          <p><b>Sinopse: </b>{{$ctrl.serieObj.Plot}}</p>
          <p><b>Classificação Etária</b> :{{$ctrl.serieObj.Rated}}</p>
          <p><b>Gênero: </b>{{$ctrl.serieObj.Genre}}</p>
          <p><b>Escritor: </b>{{$ctrl.serieObj.Writer}}</p>
          <p><b>Média do IMDB: </b>{{$ctrl.serieObj.imdbRating}}</p>
      </div>
      <div class="col-xs-6 centered">
        <form>
          <p><b>Minha avaliação: </b><input type="number" name="nota" min="0" max="10" step="0.1" ng-model="$ctrl.serieObj.myRating"></p>
          <p><b>Último epsódio assistido: </b><input type="text" name="episodio" ng-model="$ctrl.serieObj.lastWatchedEpisode"></p>
          <p><b>Temporada: </b><input type="number" name="temporada" min="0" max="{{$ctrl.serieObj.totalSeasons}}" ng-model="$ctrl.serieObj.mySeason"></p>
        </form>
      </div>
    </div>
  </div>
</div>
